:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cards {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  display: block;
  padding: 10px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #000;
  margin: 10px;
}

.card span {
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
