:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

header {
  position: relative;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #333;
  white-space: nowrap;
}

header a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

header .current {
  background-color: #fff;
  color: #333;
}

section {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

footer{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
