<form [formGroup]="form" (submit)="onSubmit()">
  <header>
    <div class="title">
      Editing group
    </div>
  </header>
  <section>
    <div class="field">
      <label for="field-word" class="field-label">Group name *</label>
      <input id="field-word" formControlName="name" autocomplete="off">
    </div>
  </section>
  <footer>
    <div class="submit">
      <button [disabled]="!form.valid">
        Save card
      </button>
    </div>
    <div class="cancel">
      <a href="javascript:;" (click)="close()">Cancel</a>
    </div>
    <div class="delete">
      <a href="javascript:;" (click)="deleteGroup()">Delete</a>
    </div>
  </footer>
</form>
