:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 20px;
}

.translated {
  font-size: 20px;
  margin-bottom: 20px;
  color: #999;
}

.word {
  font-size: 20px;
  margin-bottom: 20px;
}

.examples {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
}

.next {
  font-size: 40px;
  flex-shrink: 0;
  height: 120px;
}

.edit,
.close {
  position: absolute;
  top: 0;

  font-size: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 15px;
  margin: 0;
}

.edit {
  left: 0;
}

.close {
  right: 0;
}
